**/.DS_Store
**/__pycache__
secrets/
config.json
.direnv/
.vm/
coverage/
.pytest_cache/
.ruff_cache/
.coverage
.claude
/result
modules/apps/pkg-overrides/proton-custom/src/
modules/apps/pkg-overrides/test/.build/
build/
