**/.DS_Store
.Trash-1000/
**/__pycache__
secrets/
config.json
.direnv/
.vm/
coverage/
.pytest_cache/
.ruff_cache/
.coverage
.claude
/result
nix/apps/gaming/proton/custom/src/
nix/apps/gaming/battlenet/tests/.build/
build/
.btrc-cache/
generated/
bin/
