[submodule "submodules/disko"]
	path = submodules/disko
	url = https://github.com/nix-community/disko.git
[submodule "submodules/lanzaboote"]
	path = submodules/lanzaboote
	url = https://github.com/nix-community/lanzaboote.git
